* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
.grey-bg {
  background-color: #ebebeb;
}
.no-display {
  display: none;
}
body {
  font-size: 14px;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
body nav {
  background-color: #373c3f;
  height: 7rem;
}
body nav p {
  margin: 0;
  line-height: 5rem;
  color: #fff;
  padding: 0 2rem;
  font-size: 1.5em;
}
body nav ul {
  margin: 0;
  padding: 0 0 0 40px;
}
body nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  padding: 0 15px;
}
body nav ul li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 7rem;
}
body #mobile-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #373c3f;
  z-index: 100;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
body #mobile-nav ul {
  padding: 0 0 0 1rem;
}
body #mobile-nav ul li {
  list-style-type: none;
  display: block;
}
body #mobile-nav ul li a {
  line-height: 5rem;
}
body .wrap {
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
}
body .wrap p {
  margin: 0;
}
body .wrap h3 {
  font-size: 2rem;
  margin: 0;
}
body .wrap #mobile-nav-view p {
  display: inline;
}
body .wrap .right {
  float: right;
  background-color: #151515;
  padding: 1.7rem;
}
body .wrap .right img {
  width: 2rem;
}
body .wrap .l-width-75,
body .wrap .l-width-50,
body .wrap .l-width-33,
body .wrap .l-width-25,
body .wrap .l-width-66,
body .wrap .l-width-100,
body .wrap .s-width-75,
body .wrap .s-width-50,
body .wrap .s-width-33,
body .wrap .s-width-25,
body .wrap .s-width-66,
body .wrap .s-width-100 {
  float: left;
}
body .wrap .call-to-action {
  height: 17rem;
}
body .wrap .call-to-action .call-text {
  display: table;
  height: 100%;
}
body .wrap .call-to-action .call-text h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #27212c;
  color: #a996b8;
}
body .wrap .call-to-action .centered {
  height: inherit;
}
body .wrap .call-to-action .magenta {
  background-color: #bc3183;
}
body .wrap .call-to-action .magenta:hover {
  background-color: #942667;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
body .wrap .showcase-container .centered {
  height: 21.1rem;
}
body .wrap .showcase-container .showcase-slider ul {
  margin: 0;
}
body .wrap .showcase-container .showcase-slider.item-2 {
  background: url('http://localhost/www/img/item2.jpg') no-repeat;
  background-size: cover;
  height: 100%;
}
body .wrap .showcase-container .purple {
  background-color: #5b0fa1;
}
body .wrap .showcase-container .purple:hover {
  background-color: #410b72;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
body .wrap .text-container {
  overflow: auto;
  font-size: 1rem;
  color: #515151;
  padding: 3rem 4rem 11rem;
}
body .wrap .text-container .l-width-50,
body .wrap .text-container .l-width-100 {
  padding: 0 2rem;
}
body .wrap .text-container h3 {
  color: #088ca5;
  line-height: 3rem;
}
body .wrap .text-container p {
  padding: 1rem 0;
  color: #515151;
}
body .wrap .slider img {
  width: 100%;
}
body .wrap .centered {
  position: relative;
}
body .wrap .centered img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body .wrap .s-width-100 {
  width: 100%;
}
body .wrap .s-width-75 {
  width: 75%;
}
body .wrap .s-width-25 {
  width: 25%;
}
@media (min-width: 768px) {
  body .wrap .l-width-100 {
    width: 100%;
  }
  body .wrap .l-width-75 {
    width: 75%;
  }
  body .wrap .l-width-66 {
    width: 66.66666667%;
  }
  body .wrap .l-width-50 {
    width: 50%;
  }
  body .wrap .l-width-33 {
    width: 33.33333333%;
  }
  body .wrap .l-width-25 {
    width: 25%;
  }
}
@media (max-width: 568px) {
  body .wrap .call-to-action {
    height: 8rem;
  }
  body .wrap .call-to-action .call-text h3 {
    font-size: 1rem;
  }
  body .wrap .call-to-action img {
    width: 1rem;
  }
}
@media (min-width: 568px) and (max-width: 768px) {
  body .wrap .call-to-action {
    height: 12rem;
  }
  body .wrap .text-container {
    font-size: 1.3rem;
    padding: 3rem 4rem 11rem;
  }
  body .wrap .text-container .l-width-50,
  body .wrap .text-container .l-width-100 {
    padding: 0;
  }
}
@media (max-width: 768px) {
  body .wrap h3 {
    font-size: 1.5rem;
  }
  body .wrap #full-nav {
    height: 5rem;
  }
  body .wrap #full-nav ul {
    display: none;
  }
  body .wrap .text-container .l-width-50,
  body .wrap .text-container .l-width-100 {
    padding: 0;
  }
}
@media (min-width: 768px) {
  body .wrap #mobile-nav-view {
    display: none;
  }
  body .wrap #mobile-nav {
    display: none;
  }
}
