@white: #ffffff;
@primary-grey: #373c3f;
@purple: #5b0fa1;
@dark-purple: #a996b8;
@magenta: #bc3183;

@call-to-action-height: 17rem;

@large-base-size: 1024px;
@medium-base-size: 980px;
@small-base-size: 640px;
@xsmall-base-size: 320px;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size: 14px;
}
.grey-bg{
	background-color: #ebebeb;
}
.no-display{
	display: none;
}
body{
	font-size: 14px;
	margin: 0;
	background-color: @white;
	font-family: 'Montserrat', sans-serif;
	nav{
		p{
			margin: 0;
			line-height: 5rem;
			color: #fff;
			padding: 0 2rem;
			font-size: 1.5em;
		}
		background-color: @primary-grey;
		height: 7rem;
		ul{
			margin: 0;
			padding: 0 0 0 40px;
			li{
				display: inline-block;
				text-transform: uppercase;
				font-size: 15px;
				padding: 0 15px;
				a{
					text-decoration: none;
					color: @white;
					line-height: 7rem;
				}
			}
		}
	}
	#mobile-nav{
		position: fixed;
		top: 0;
		left: -250px; 
		width: 250px;
		height: 100%;
		background: @primary-grey;
		z-index: 100;
		-webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.2);
		ul{
			padding: 0 0 0 1rem;
			li{
				list-style-type: none;
				display: block;
				a{
					line-height: 5rem;
				}
			}
		}
	}	
	.wrap{
		margin-right: auto;
		margin-left: auto;
		min-width: 320px;
		max-width: 1024px;
		width: 100%;
		p{
			margin: 0;
		}
		h3 {
			font-size: 2rem;
			margin: 0;
		}
		#mobile-nav-view{
			p{
				display: inline;
			}
		}		
		.right{
			float: right;
			background-color: #151515;
			padding: 1.7rem;
			img{
				width: 2rem;
			}
		}
		.l-width-75, .l-width-50, .l-width-33, .l-width-25, .l-width-66, .l-width-100, .s-width-75, .s-width-50, .s-width-33, .s-width-25, .s-width-66, .s-width-100{
			float: left;
		}
		.call-to-action {
			height: @call-to-action-height;
			.call-text{
				display: table;
				height: 100%;
				h3{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					background-color: #27212c;
					color: @dark-purple;
				}
			}
			.centered{
				height: inherit;
			}		
			.magenta{
				background-color: @magenta;
			}	
			.magenta:hover{
				background-color: darken(@magenta, 10%);
				-moz-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
			}
		}
		.showcase-container{				
			.centered{
				height: 21.1rem;
			}
			.showcase-slider{
				ul{
					margin: 0;
				}
				&.item-2{
					background: url('http://localhost/www/img/item2.jpg') no-repeat;
					background-size: cover;
					height: 100%;
				}
			}					
			.purple{
				background-color: @purple;
			}	
			.purple:hover{
				background-color: darken(@purple, 10%);
				-moz-transition: all .2s ease-in;
				-webkit-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
			}
		}
		.text-container{
			overflow: auto;
			font-size: 1rem;
			color: #515151;
			padding: 3rem 4rem 11rem;
			.l-width-50, .l-width-100{
				padding: 0 2rem;
			}
			h3{
				color: #088ca5;
				line-height: 3rem;
			}
			p{
				padding: 1rem 0;
				color: #515151;
			}
		}

		.slider{
			img{
				width: 100%;
			}
		}
		.centered{
			position: relative;
			img{ 
				position: absolute;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		.s-width-100{
			width: 100%;
		}
		.s-width-75{
			width: 75%;
		}
		.s-width-25{
			width: 25%;
		}	
		@media (min-width: 768px) {
			.l-width-100{
				width: 100%;
			}
			.l-width-75{
				width: 75%;
			}
			.l-width-66{
				width: 66.66666667%;
			}
			.l-width-50{
				width:50%;
			}
			.l-width-33{
				width: 33.33333333%;
			}
			.l-width-25{
				width: 25%;
			}
		}
		@media (max-width: 568px) {
			@call-to-action-height: 8rem;	
			.call-to-action {
				height: @call-to-action-height;
				.call-text{		
					h3{
						font-size: 1rem;
					}			
				}
				img{
					width: 1rem;
				}
			}
		}		
		@media (min-width: 568px) and (max-width: 768px) {			
			@call-to-action-height: 12rem;	
			.call-to-action {
				height: @call-to-action-height;
			}
			.text-container{
				font-size: 1.3rem;
				padding: 3rem 4rem 11rem;
				.l-width-50, .l-width-100{
					padding: 0;
				}
			}
		}
		@media (max-width: 768px) {
			h3{
				font-size: 1.5rem;
			}
			#full-nav{
				height: 5rem;
				ul {
					display: none;
				}
			}			
			.text-container{
				.l-width-50, .l-width-100{
					padding: 0;
				}
			}
		}
		@media (min-width: 768px) {
			#mobile-nav-view{
				display: none;
			}
			#mobile-nav{
				display: none;
			}
		}
	}	
}
